<h1>Showing article details</h1>

<p>User: <%= @article.user.username if @article.user %> </p>
  <%= link_to gravatar_for(@article.user), user_path(@article.user) if @article.user%>
<p>Title: <%= @article.title %> </p>
<p>Description: <%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure? " } %> | 
<%= link_to 'Return to articles listing', articles_path %>
