<h1>Create new Category</h1>

<%= render 'shared/errors', obj: @category %>

<%= form_with(model: @category, local: true) do |f| %>
  <p>
    <%= f.label :name, "Category Name" %><br>
    <%= f.text_field :name, placeholder: "Enter the name" %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
